@page "/"

@inherits LayoutComponentBase

<HeaderBar />
<PageTitle>Northern Mountains</PageTitle>
<SectionContent SectionName="page-header-title">Ready for a new adventure?</SectionContent>
<SectionContent SectionName="page-header-subtitle">Start the season with the latest in clothing and equipment.</SectionContent>
<h3>Catalog</h3>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@* <div class="eshop-header-hero">
    @{
        var headerImage = IsCatalog ? "images/header-home.webp" : "images/header.webp";
    }
    <img src="@headerImage" />
</div> *@

<FooterBar />

@code {
    private bool IsCatalog { get; } = true;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}
