@page "/"
@* @inject NavigationManager Nav
@inject CatalogService CatalogService *@

@inherits LayoutComponentBase

<HeaderBar />
<PageTitle>Northern Mountains</PageTitle>
<SectionContent SectionName="page-header-title">Ready for a new adventure?</SectionContent>
<SectionContent SectionName="page-header-subtitle">Start the season with the latest in clothing and equipment.</SectionContent>
<h3>Catalog</h3>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@* <div class="eshop-header-hero">
    @{
        var headerImage = IsCatalog ? "images/header-home.webp" : "images/header.webp";
    }
    <img src="@headerImage" />
</div> *@

<FooterBar />

@code {
    private bool IsCatalog { get; } = true;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    const int PageSize = 9;

    [SupplyParameterFromQuery]
    public int? Page { get; set; }

    [SupplyParameterFromQuery(Name = "brand")]
    public int? BrandId { get; set; }

    [SupplyParameterFromQuery(Name = "type")]
    public int? ItemTypeId { get; set; }

    CatalogResult? catalogResult;

    static IEnumerable<int> GetVisiblePageIndexes(CatalogResult result)
        => Enumerable.Range(1, (int)Math.Ceiling(1.0 * result.Count / PageSize));

    protected override async Task OnParametersSetAsync()
    {
        // catalogResult = await CatalogService.GetCatalogItems(
        //     Page.GetValueOrDefault(1) - 1,
        //     PageSize,
        //     BrandId,
        //     ItemTypeId);
    }

}
